*{ 
	padding:0;
	margin:0;
}

/*-------------------------General-------------------------*/

header, nav, main, section, aside, footer{ display:block; }
a{ text-decoration:none; }
#Layout1 .selectedLi{  background-color: #624c37; }
#Layout2 .selectedLi{  background-color: #cc945d; }
#Layout3 .selectedLi{  background-color: #624c37; }
.clear{ clear: both; }

nav li a{
    text-decoration: none;
    color: #ffffff;
}
#wrapper{
    margin: 0px auto;
    width: 1000px;  
    background-color: white;
}
.logo{
    width: 78px;
    height: 78px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
article{
    position: relative;
    background-color: #4c3723;
    opacity: 0.6;
}

/*-------------------------Layout1-------------------------*/

#Layout1 header{
    width: 1000px;
    height: 183px;
}
#Layout1 nav{
    width: 727px;
    height: 57px;
    margin-top: 48px;
    background-color: #cc945d;
    float: right;
}
#Layout1 nav li{
    width: 241px;
    height: 57px;
    font-size: 18px;
    line-height: 57px;  
    float: left;
    list-style-type: none;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
}
#Layout1 main{
    width: 849px;
    height: 428px;
    float: right;
    background-color: #ffffff;
}
#Layout1 section{
    width: 849px;
    height: 268px;
    float: right;
    background-color: #ffba75;
}
#Layout1 aside{
    width: 121px;
    height: 696px;
    float: left;
    background-color: #ffffc7;
}
#Layout1 footer{
    width: 1000px;
    height: 121px;
    background-color: #ffd4a8;
}
#Layout1 nav li{
    width: 241px;
    height: 57px;
    font-size: 18px;
    line-height: 57px;
    list-style-type: none;
    text-align: center;
    font-family: Arial;
    float: left;
    font-weight: normal;
}
#Layout1 a{
    top: 11px;
    left: 95px; 
}

/*----------Boxes----------*/

#boxTopLayout1{
    width: 126px;
    height: 94px;
    top: 87px;
    left: 361px;
}
#boxBottomLayout1{
    width: 692px;
    height: 175px;
    top: 224px;
    left: 78px;
}

/*-------------------------Layout2-------------------------*/

#Layout2 header{
    width: 1000px;
    height: 193px;
}
#Layout2 nav{
     width: 243px;
     height: 171px;
     float: left;
}
#Layout2 main{
    width: 757px;
    height: 935px;
    float: right;
    background-color: #ffba75;
}
#Layout2 aside{
    width: 243px;
    height: 935px;
    float: left;
    background-color: #624c37;
}
#Layout2 footer{
    width: 1000px;
    height: 50px;
    bottom: 0px;
    position: fixed;
    background-color: #d6d6d6;
}
#Layout2 nav li{
    float: left;
    list-style-type: none;
    font-family: Arial;
    font-weight: normal;
    width: 243px;
    height: 57px;
    font-size: 18px;
    padding-left: 5px;
    line-height: 57px;
}
#Layout2 .logo{
    top: 38px;
    margin: 0px auto;
}

/*----------Boxes----------*/
/*------left to right------*/
/*------box1 --> box5------*/

#box1{
    width: 212px;
    height: 366px;
    margin-left: 30px;
    float: left;
}
#box2{
    width: 212px;
    height: 560px;
    margin-left: 30px;
    float: left;
}
#box3{
    width: 212px;
    height: 223px;
    margin-left: 30px;
    float: left;
}
#box4{
    width: 212px;
    height: 500px;
    top: 385px;
    margin-left: 30px;
}
#box5{
    width: 212px;
    height: 306px;
    top: 79px;
    left: 272px;
}

/*-------------------------Layout3-------------------------*/

#Layout3 #wrapper{
    max-width: 1000px;
    width: auto;
}

#Layout3 header{
    float: left;    
    width: 500px;
    height: 500px;
    background-color: #ffffff;
}

#Layout3 nav{
     width: 500px;
     height: 63px;
     top: 438px;
     position: absolute;
     background-color: #ffba75;
}

#Layout3 nav li{
    float: left;
    position: relative;    
    list-style-type: none;
    font-family: Arial;
    font-weight: normal;
    width: 161px;
    font-size: 18px;
    padding-left: 5px;
    line-height: 63px;
}

#Layout3 nav li a{
    display: block;
    padding:0px 50px;
}

#Layout3 nav li.selectedLi{
    width: 163px;
}

#Layout3 main{
    max-width: 1000px;
    height: 100%;
    min-height:1000px;    
    background-color: #ec943b;
}
#Layout3 .square{
    width: 250px;
    height: 250px;
    float: left;
}

#Layout3 .logo{
    top: 22px;
    left: 21px;
}

#plus{
    margin: 0px auto;   
    width: 88px;
    height: 88px;
    top: 120px;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

@media (min-width: 851px){
    #flex-container{
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #flex-container2{
        max-width: 1000px;
        width: 100%;
        min-height:500px;
        min-width:500px;    
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 850px) and (min-width: 591px){
    #flex-container{
        width: 500px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #flex-container2{
        max-width: 1000px;
        width: 100%;
        min-height:500px;
        min-width:500px;    
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 590px){
    #flex-container{
        width: 500px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #flex-container2{
        max-width: 1000px;
        width: 100%;
        min-height:500px;
        min-width:500px;    
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

.boxInFlex > div{
    width: 250px;
    height: 250px;       
    background-color: #000000;
}

.boxInFlex > div:hover{
    background-color: #ffffff !important;
    opacity: 1 !important;
}